{% extends "base.html.twig" %}

{% block title %}
	Mes réservations
{% endblock %}

{% block body %}
	<h1 class="my-5">
		Mes réservations
	</h1>
	<div class="alert alert-info mt-3">
		<p>
			Retrouvez ci-dessous toutes vos réservations passées et avenir
		</p>
		{% for booking in app.user.bookings %}
			<div class="row mt-5">
				<div class="col-4">
					<img class="img-fluid" src="{{asset("/upload/image/"~ booking.ad.coverImage) }}" alt="Photo de l'annonce {{booking.ad.title}}">
					<div class="mt-3">
						{% set comment = booking.ad.commentFromAuthor(app.user) %}
						{% if comment is not null %}
							<strong>
								Note donnée :
								{% include "partials/rating.html.twig" with {"rating":comment.rating} %}
							</strong>
						{% else %}
							<p>
								Vous n'avez pas noté cette annonce <br>
								<a href="{{path("booking_show",{"id":booking.id})}}#comment">
									Je donne mon avis
								</a>
							</p>
						{% endif %}

					</div>
				</div>
				<div class="col-8">
					<h4>
						{{booking.ad.title}}
					</h4>
					<p>
						Réservation
						<strong>
							{{booking.id}}
						</strong>
						<br>
						Du
						{{booking.startDate | date("d/m/Y")}}
						au
						{{booking.endDate |date("d/m/Y")}}
						<br>
						{{booking.amount | number_format(2, ',', ' ')}}
						&euro;
					</p>
					<a href="{{path('booking_show', {'id':booking.id})}}" class="btn btn-info">
						Plus d'informations
					</a>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
