{% extends 'admin/base.html.twig' %}

{% block title %}
	Liste des commentaires !
{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1 class="my-5">
		Liste des commentaires
	</h1>
	<table class="table">
		<thead>
			<tr></tr>
			<th>
				Id
			</th>
			<th>
				Date
			</th>
			<th>
				Auteur
			</th>
			<th>
				Commentaire
			</th>
			<th>
				Note
			</th>
			<th>
				Annonce
			</th>
			<th></th>
		</thead>
	</tr>
</thead>
<tbody>
	{% for comment in comments %}
		<tr>
			<td>
				{{comment.id}}
			</td>
			<td>
				{{comment.createdAt | date("d/m/Y")}}
			</td>
			<td>
				<img class="avatar avatar-micro" src="{{comment.author.picture}}" alt="avater de {{comment.author.fullName}}">
				{{comment.author.firstName}}
			</td>
			<td>
				{{comment.content}}
			</td>
			<td>
				<span class="badge badge-primary rounded">
					{{comment.rating | number_format(1,","," ")}}
				</span>
			</td>
			<td>
				<span class="badge badge-primary rounded">
					{{comment.ad.id}}
				</span>
			</td>
			<td>
				<a href="{{path('admin_comments_edit', {'id':comment.id})}}" class="btn btn-primary">
					<i class="fas fa-edit"></i>
				</a>
				<a href="{{path('admin_comments_delete', {'id':comment.id})}}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer le commentaire concernant l'annonce :  {{comment.ad.title}}`)">
					<i class="fas fa-trash"></i>
				</a>
			</td>
		</tr>
	</p>
</tbody></tr>{% endfor %}</tbody></table></div>{% endblock %}
