{% extends 'admin/base.html.twig' %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card bg-primary text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<i class="fas fa-users fa-3x"></i>
							</div>
							<div class="col-9">
								<h5 class="card-title">
									{{ stats.users }}
									<br>
									utilisateurs
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-dark mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<i class="fas fa-hotel fa-3x"></i>
							</div>
							<div class="col-9">
								<h5 class="card-title">
									{{ stats.ads }}
									<br>
									annonces
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-warning mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<i class="fas fa-folder fa-3x"></i>
							</div>
							<div class="col-9">
								<h5 class="card-title">
									{{ stats.bookings }}
									<br>
									réservations
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-success mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<i class="fas fa-comments fa-3x"></i>
							</div>
							<div class="col-9">
								<h5 class="card-title">
									{{ stats.comments }}
									<br>
									avis
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col">
				<div class="alert alert-success contenuDashboard">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-up"></i>
						Les annonces populaires
					</h2>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									Annonce
								</th>
								<th>
									Propriétaire
								</th>
								<th>
									Moyenne
								</th>
							</tr>
						</thead>
						<tbody>												ent #}
							{% for ad in bestAds %}
								<tr>
									<td>
										{{ad.title}}
									</td>
									<td>
										<img class="avatar avatar-micro" src="{{ad.picture}}" alt="">
										{{ad.firstName}}
										{{ad.lastName}}
									</td>
									<td>
										<span class="badge badge-primary">
											{{ad.note | number_format(1, ",", " ")}}
										</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col">
				<div class="alert alert-danger contenuDashboard">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-down"></i>
						Les pires populaires
					</h2>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									Annonce
								</th>
								<th>
									Propriétaire
								</th>
								<th>
									Moyenne
								</th>
							</tr>
						</thead>
						<tbody>
							{# ad n'est pas l'entité Ad mais l'objet retourner par la requete nous pouvons nommé autrement #}
							{% for ad in worstAds %}
								<tr>
									<td>
										{{ad.title}}
									</td>
									<td>
										<img class="avatar avatar-micro" src="{{ad.picture}}" alt="">
										{{ad.firstName}}
										{{ad.lastName}}
									</td>
									<td>
										<span class="badge badge-primary">
											{{ad.note | number_format(1, ",", " ")}}
										</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="alert alert-info contenuDashboard">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-right"></i>
						Les 5 dernières annonces publiées
					</h2>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									Id
								</th>
								<th>
									Annonce
								</th>
								<th>
									Propriétaire
								</th>
								<th>
									Voir Admin
								</th>
								<th>
									Voir Site
								</th>
							</tr>
						</thead>
						<tbody>
							{% for ad in lastAds %}
								<tr>
									<td>
										{{ ad.id }}
									</td>
									<td>
										{{ ad.title }}
									</td>
									<td>
										{{ ad.lastName }}
									</td>
									<td>
										<a href="{{path('admin_ads_edit', {'id':ad.id})}}">
											<i class="fas fa-pen"></i>

										</a>
									</td>
									<td>
										<a href="{{path('ads_show', {'slug':ad.slug})}}">
											<i class="fas fa-pen"></i>

										</a>
									</td>
								</tr>


							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
			<div class="col">
				<div class="alert alert-warning contenuDashboard">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-left"></i>
						Les 7 dernières réservations
					</h2>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									Id
								</th>
								<th>
									Date de réservation
								</th>
								<th>
									Propriétaire
								</th>
								<th>
									Vacancier
								</th>
								<th>
									Voir Admin
								</th>
								<th>
									Voir Site
								</th>
							</tr>
						</thead>
						<tbody>
							{% for booking in lastBookings %}
								<tr>
									<td>
										{{ booking.booking.id }}
									</td>
									<td>
										{{ booking.booking.createdAt | date("d/m/Y") }}
									</td>
									<td>
										{{ booking.lastName }}
									</td>
									<td>
										{{ booking.booking.booker.firstName }}
									</td>
									<td>
										<a href="{{path('admin_bookings_edit', {'id':booking.booking.id})}}">
											<i class="fas fa-pen"></i>

										</a>
									</td>
									<td>
										<a href="{{path('booking_show', {'id':booking.booking.id})}}">
											<i class="fas fa-pen"></i>

										</a>
									</td>
								</tr>


							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
