{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
	<div class="card mb-5 box3D">
		<div class="card-header text-center">
			{{ ad.rooms }}
			chambres,
			<strong>
				{{ ad.price | number_format(2, ',', ' ') }}
				&euro; / nuit
			</strong>
			<br>
			{% if ad.descriptions | length > 0 %}
				{% include "partials/rating.html.twig" with {"rating":ad.avgRatings} %}
			{% else %}
				<small>
					Pas encore noté
				</small>
			{% endif %}
		</div>

		<a href="{{ url }}">

			<img src="{{asset("/upload/image/"~ ad.coverImage)}}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">

		</a>

		<div class="card-body hauteurDiv">
			<h5 class="card-title">
				<a href="{{ url }}">
					{{ ad.title | slice(0, 20) }}
					...
				</a>
			</h5>
			<p class="card-text">
				{{ ad.localisation.name }}
			</p>
			<p class="card-text">
				{{ ad.introduction | slice(0, 100) }}
				...
			</p>
			<div class="row">
				<div class="col-4">
					{% if app.user and app.user == ad.author %}
						<a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-primary float-right">
							Modifier
						</a>
					{% endif %}
				</div>
				<div class="col-8 mb-3 pb-2 align-items-start">
					<a href="{{ url }}" class="btn btn-success float-right">
						En savoir plus !
					</a>
				</div>

			</div>
		</div>
	</div>
</div>
