{% extends 'base.html.twig' %}

{% block title %}
	Nos magnifiques annonces
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 homeText">
			Voici les annonces de nos hôtes !
		</h1>
		<div class="container">
			<div id="d1" class="container colorCard mb-3">
				<h1 class="h3">
					Filtrer ma recherche
				</h1>
				{{form_start(form)}}
				<div class="row">
					{% for local in form.localisation %}
						<div class="col-md-2">
							{{form_row(local)}}
						</div>
					{% endfor %}
				</div>
				<div class="form-row align-items-end">
					<div class="col-md-4">
						{{form_row(form.rooms)}}
					</div>
					<div class="col-md-4">
						{{form_row(form.maxPrice)}}
					</div>
					<div class="col-md-4">
						<div class="form-group btn-lg">
							<button>
								Rechercher
							</button>
						</div>
					</div>
					{{form_end(form)}}
				</div>
			</div>
			<div class="container mb-3">
				<button id="togg1" class="btn-lg">
					Filtrer
				</button>
			</div>
			<div class="row">
				{% for ad in appointments %}
					{% include 'ad/_ad.html.twig' %}
				{% endfor %}
			</div>
		</div>

		<div class="navigation colorCard align-items-center">
			{{ knp_pagination_render(appointments) }}
		</div>
	{% endblock %}
	{% block javascripts %}
		<script src="{{asset("masquer.js")}}"></script>
	{% endblock %}
